@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Stack Horizontal="false"
       Style="width:100%;max-width:300px;">
    <Slider />
</Stack>
            
            
@code {

    double controlledValue = 0;

}